<!-- footer.component.html -->
<div
  class="w-full bg-[#3344A1] flex flex-col md:flex-row justify-between items-center p-4 fixed bottom-0"
>
  <div
    class="flex flex-wrap justify-center md:justify-start gap-2 mb-4 md:mb-0"
  >
    <button
      mat-mini-fab
      matTooltip="Instagram"
      color="primary"
      aria-label="Instagram Icon"
    >
      <ng-icon class="mt-[0.4em]" name="bootstrapInstagram"></ng-icon>
    </button>

    <button
      mat-mini-fab
      matTooltip="Facebook"
      color="primary"
      aria-label="Facebook Icon"
    >
      <ng-icon class="mt-[0.4em]" name="bootstrapFacebook"></ng-icon>
    </button>

    <button mat-mini-fab matTooltip="X" color="primary" aria-label="X Icon">
      <ng-icon class="mt-[0.4em]" name="bootstrapTwitterX"></ng-icon>
    </button>

    <button
      mat-mini-fab
      matTooltip="Youtube"
      color="primary"
      aria-label="Youtube Icon"
    >
      <ng-icon class="mt-[0.4em]" name="bootstrapYoutube"></ng-icon>
    </button>

    <button
      mat-mini-fab
      matTooltip="Linkedin"
      color="primary"
      aria-label="Linkedin Icon"
    >
      <ng-icon class="mt-[0.4em]" name="bootstrapLinkedin"></ng-icon>
    </button>
  </div>

  <div class="flex flex-col md:flex-row gap-2 justify-center items-center">
    <button
      mat-flat-button
      extended
      matTooltip="Feedback"
      aria-label="Feedback"
      class="mb-4 md:mb-0"
    >
      <mat-icon>forum</mat-icon>
      Feedback
    </button>

    <div class="text-white flex items-center">
      <mat-icon
        aria-hidden="false"
        aria-label="Help Desk Phone Number"
        fontIcon="support_agent"
        class="mr-2"
      ></mat-icon
      >Help Desk - 1415
    </div>
  </div>
</div>
