<!-- footer.component.html -->
<div
  class="absolute bottom-0 w-full bg-[#3344A1] flex flex-row justify-between items-center p-4"
>
  <div class="flex flex-row gap-2">
    <button
      mat-mini-fab
      matTooltip="Instagram"
      color="primary"
      aria-label="Instagram Icon"
    >
      <ng-icon class="mt-[0.4em]" name="bootstrapInstagram"></ng-icon>
    </button>

    <button
      mat-mini-fab
      matTooltip="Facebook"
      color="primary"
      aria-label="Facebook Icon"
    >
      <ng-icon class="mt-[0.4em]" name="bootstrapFacebook"></ng-icon>
    </button>

    <button mat-mini-fab matTooltip="X" color="primary" aria-label="X Icon">
      <ng-icon class="mt-[0.4em]" name="bootstrapTwitterX"></ng-icon>
    </button>

    <button
      mat-mini-fab
      matTooltip="Youtube"
      color="primary"
      aria-label="Youtube Icon"
    >
      <ng-icon class="mt-[0.4em]" name="bootstrapYoutube"></ng-icon>
    </button>

    <button
      mat-mini-fab
      matTooltip="Linkedin"
      color="primary"
      aria-label="Linkedin Icon"
    >
      <ng-icon class="mt-[0.4em]" name="bootstrapLinkedin"></ng-icon>
    </button>
  </div>

  <div class="flex flex-row gap-2 justify-center align-middle">
    <button
      mat-flat-button
      extended
      matTooltip="Feedback"
      aria-label="Feedback"
    >
      <mat-icon>forum</mat-icon>
      Feedback
    </button>

    <div class="text-white py-2 ps-3">
      <mat-icon
        aria-hidden="false"
        aria-label="Help Desk Phone Number"
        fontIcon="support_agent"
        class="mr-2 align-middle"
      ></mat-icon
      >Help Desk - 1415
    </div>
  </div>
</div>
