<!-- app.component.html -->
<div class="relative w-full h-screen bg-gray-100">
  <div
    class="absolute w-full h-full bg-cover"
    style="background-image: url('assets/images/New Project.png')"
  ></div>

  <div
    class="absolute top-0 left-0 w-86 h-62 bg-no-repeat"
    style="background-image: url('assets/images/police_logo.png')"
  ></div>

  <div
    class="absolute top-64 left-1/2 transform -translate-x-1/2 text-center text-white"
  >
    <div class="text-7xl font-bold leading-none">FineTrackSLP</div>
    <div class="text-2xl mt-4">
      For People, By People: A Better Policing Experience
    </div>
  </div>

  <div
    class="absolute top-1/2 left-48 transform -translate-y-1/2 text-left text-white text-xl font-light w-5/12 leading-snug"
  >
    Breaking free from the shackles of tradition, Sri Lanka Police boldly steps
    into the future with a groundbreaking digital platform. This dynamic system
    shatters the confines of outdated procedures, ushering in an era of
    unprecedented efficiency and responsiveness.
  </div>

  <div class="absolute left-48 bottom-40">
    <div class="text-white text-lg underline cursor-pointer">
      Register from here.....!
    </div>
  </div>

  <div class="absolute left-48 bottom-56">
    <button
      class="w-56 h-20 bg-blue-900 text-white text-2xl rounded-full flex items-center justify-center"
    >
      Log In
    </button>
  </div>

  <div
    class="absolute left-96 bottom-52 w-12 h-12 bg-no-repeat"
    style="background-image: url('assets/images/enter.png')"
  ></div>

  <div class="absolute right-10 bottom-16 flex items-center">
    <button
      class="w-36 h-12 bg-white text-blue-900 text-sm font-bold rounded-full flex items-center justify-center"
    >
      Feedback
    </button>
    <div
      class="w-9 h-9 bg-no-repeat ml-3"
      style="background-image: url('assets/images/feedback.png')"
    ></div>
  </div>
</div>
