<div class="flex flex-row justify-center align-middle w-full">
  <div>
    <p class="text-lg text-white">Enter Driving License Number</p>
    <mat-form-field class="w-80">
      <mat-label>License Number</mat-label>
      <input matInput placeholder="12315468495" required="true" />
    </mat-form-field>
  </div>
</div>

<div
  class="flex flex-col lg:flex-row w-full px-32 lg:px-0 justify-center align-middle gap-4 mt-16"
>
  <button
    mat-flat-button
    color="accent"
    extended
    matTooltip="Proceed"
    aria-label="Login Button"
  >
    Proceed
    <mat-icon>login</mat-icon>
  </button>
</div>
