<div class="flex flex-row w-full justify-between mt-4">
  <div class="flex-col">
    <p class="font-bold text-xl">Cases Dashboard</p>
    <p class="text-sm text-green-500">Analytics</p>
  </div>

  <div class="self-end flex flex-row gap-4 align-middle justify-center">
    <div class="my-2 flex flex-row gap-4">
      <button mat-stroked-button (click)="refreshDashboard()">
        <mat-icon>refresh</mat-icon>Refresh
      </button>

      <button mat-flat-button color="primary" (click)="addOffenceDialog()">
        <mat-icon>add</mat-icon>Add offences
      </button>
    </div>
  </div>
</div>

<div class="charts-container">
  <div class="chart-item">
    <p class="chart-title">Upcoming Sue Cases</p>
    <canvas
      baseChart
      [data]="barChartData"
      [type]="'bar'"
      [options]="barChartOptions"
    ></canvas>
  </div>

  <div class="chart-item">
    <p class="chart-title">Total Fines by Month</p>
    <canvas
      baseChart
      [data]="lineChartData"
      [type]="'line'"
      [options]="lineChartOptions"
    ></canvas>
  </div>

  <div class="chart-item">
    <p class="chart-title">Fines Distribution by Day</p>
    <canvas
      baseChart
      [data]="pieChartData"
      [type]="'pie'"
      [options]="pieChartOptions"
    ></canvas>
  </div>

  <div class="chart-item">
    <p class="chart-title">Fines by Location</p>
    <canvas
      baseChart
      [data]="polarAreaChartData"
      [type]="'polarArea'"
      [options]="polarAreaChartOptions"
    ></canvas>
  </div>
</div>
