<div class="flex flex-col items-center justify-center gap-8">
  <button
    mat-flat-button
    extended
    matTooltip="Sue Case"
    aria-label="Login Button"
    type="button"
    class="big-square-button mt-8"
    (click)="onSueCaseClick()"
  >
    <ng-icon class="text-3xl" name="bootstrapBank"></ng-icon>
    <p class="text-lg font-bold">Sue Case</p>
  </button>

  <button
    mat-flat-button
    extended
    matTooltip="Fine Case"
    aria-label="Login Button"
    type="button"
    class="big-square-button mb-8"
    (click)="onFineCaseClick()"
  >
    <ng-icon class="text-3xl" name="bootstrapClipboard2X"></ng-icon>
    <p class="text-lg font-bold">Fine Case</p>
  </button>
</div>
