<div class="flex flex-row justify-center align-middle w-full gap-8">
  <div>
    <button
      mat-flat-button
      extended
      matTooltip="Fine Driver"
      aria-label="Login Button"
      class="big-square-button"
      routerLink="driver"
    >
      <ng-icon class="text-5xl" name="bootstrapCarFrontFill"></ng-icon>
      <p class="text-2xl font-bold">Driver</p>
    </button>
  </div>

  <div>
    <button
      mat-flat-button
      extended
      matTooltip="Fine Pedestrian"
      aria-label="Login Button"
      class="big-square-button"
      routerLink="pedestrian"
    >
      <ng-icon class="text-5xl" name="bootstrapPersonWalking"></ng-icon>
      <p class="text-2xl font-bold">Pedestrian</p>
    </button>
  </div>
</div>
